.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-image-wrapper {
  flex: 0 0 auto;
  padding: 10px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image-wrapper.selected {
  transform: scale(1.1);
}

.carousel-image {
  width: 200px;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out, border 0.5s ease-in-out;
}

.carousel-image.highlight {
  opacity: 1;
  border: 4px solid #c2aa8c; /* Highlight color around the selected image */
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.carousel-nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

/* Responsive Media Queries for Phone View */
@media (max-width: 768px) {
  .carousel-container {
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .carousel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .carousel-image-wrapper {
    flex: 0 0 auto;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: none; /* Hide all images initially on small screens */
  }

  .carousel-image-wrapper.selected {
    display: flex; /* Show only the selected image on small screens */
    transform: scale(1.1);
  }

  .carousel-image {
    width: 90vw; /* Make the image larger on small screens */
    max-width: 100%;
    height: auto;
    opacity: 1; /* Ensure the displayed image is fully visible */
  }

  .carousel-nav {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-prev {
    left: 0; /* Position to the left side of the image */
  }

  .carousel-next {
    right: 0; /* Position to the right side of the image */
  }

  .carousel-nav:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
