.header {
  position: relative;
  background-image: url("../../Data/Assets/Images/banner-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Darker overlay */
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  padding: 0 20px; /* Add some padding for smaller screens */
}

.header-content h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1.2; /* Improve readability by adjusting line height */
}

.header-content p {
  margin-top: 20px;
  font-size: 1.5em;
}

.cta-btn {
  background-color: #c2aa8c;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to the button */
}

.cta-btn:hover {
  background-color: #a8916c;
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-content h1 {
    font-size: 3em; /* Increased from 2.5em to 3em */
  }

  .header-content p {
    font-size: 1.5em; /* Increased from 1.2em to 1.5em */
  }

  .cta-btn {
    font-size: 1.1em; /* Slightly increased button text size */
    padding: 14px 28px; /* Adjusted padding for larger text */
  }
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 2.5em; /* Increased from 2em to 2.5em */
  }

  .header-content p {
    font-size: 1.2em; /* Increased from 1em to 1.2em */
  }

  .cta-btn {
    font-size: 1em; /* Adjusted button text size */
    padding: 12px 24px; /* Adjusted padding for consistency */
  }
}
