.header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: background-image 0.5s ease-in-out;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  padding: 0 20px;
}

.header-content h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1.2;
  margin-top: 180px;
}

.header-content p {
  margin-top: 20px;
  font-size: 1.5em;
}

.hcta-btn {
  background-color: #c2aa8c;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.hcta-btn:hover {
  background-color: #a8916c;
  transform: translateY(-3px);
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  z-index: 2;
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 2.5em;
  }

  .header-content p {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 2em;
  }

  .header-content p {
    font-size: 1em;
  }

  .hcta-btn {
    padding: 10px 20px;
    font-size: 1em;
  }
}
