.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding h1 {
  margin: 0;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .branding h1 {
    font-size: 2em;
  }
}
