/* src/Pages/About/AboutPage.css */
.about-page {
  font-family: "Arial", sans-serif;
  color: #002147; /* Dark Blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.header-image {
  position: relative;
  width: 100%;
  height: 200px; /* Adjusted for a smaller header */
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}

.text-and-photo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 50px;
  text-align: left;
}

.text-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content p {
  font-size: 1.1em;
  line-height: 1.8;
}

.founder-photo {
  flex: 1;
  max-width: 300px;
  height: auto;
}

.signature-section {
  margin-top: 20px;
}

.signature-image {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.founder-name {
  font-size: 1em;
  color: #002147; /* Dark Blue */
}

.founder-name span {
  font-size: 0.8em;
  color: #666666; /* Grey color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content h1 {
    font-size: 3em; /* Increased text size */
    margin-bottom: 20px;
    text-align: center; /* Centered text */
  }

  .text-and-photo {
    flex-direction: column-reverse; /* Switches order of image and text */
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .text-content p {
    font-size: 1.2em; /* Bigger text size */
    line-height: 1.9; /* Adjusted line height */
  }

  .founder-photo {
    max-width: 250px;
    margin-top: 20px; /* Add space between text and image */
  }

  .signature-section {
    margin-top: 20px;
  }

  .signature-image {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }

  .content h1 {
    font-size: 2.5em; /* Slightly reduced font size for small phones */
    margin-bottom: 30px;
  }

  .text-content p {
    font-size: 1.5em; /* Increase text size on smaller phones */
    line-height: 2; /* Adjust line height */
  }

  .founder-photo {
    max-width: 200px;
  }

  .signature-image {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
